apiVersion: v1
kind: Secret
metadata:
  name: kk-payments-secrets
  namespace: kijani-project
type: Opaque
stringData:
  DB_PASSWORD: # obtain securely from the team
  STRIPE_API_KEY: # obtain securely from the team
  JWT_SECRET: # obtain securely from the team
