[Unit]
Description=KijaniKiosk Payments
After=kk-api.service
Wants=kk-api.service

[Service]
Type=simple

User=kk-payments
Group=kk-payments

WorkingDirectory=/opt/kijanikiosk/payments

EnvironmentFile=/opt/kijanikiosk/config/payments-api.env

ExecStart=/usr/bin/bash -c 'sleep infinity'

Restart=on-failure

NoNewPrivileges=true

PrivateTmp=true

ProtectSystem=strict

ProtectHome=true

ReadOnlyPaths=/opt/kijanikiosk/config

ReadWritePaths=/opt/kijanikiosk/shared/logs

CapabilityBoundingSet=

RestrictSUIDSGID=true

LockPersonality=true

MemoryDenyWriteExecute=true

ProtectKernelTunables=true

ProtectControlGroups=true

ProtectKernelModules=true

ProtectClock=true

UMask=0027

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
