[Unit]
Description=KijaniKiosk Payments
After=kk-api.service
Wants=kk-api.service

[Service]
Type=simple

User=kk-payments
Group=kk-payments

WorkingDirectory={{ base_dir }}/{{ working_directory }}
EnvironmentFile={{ base_dir }}/config/{{ env_file }}

ExecStart=/usr/bin/bash -c 'sleep infinity'

Restart=on-failure

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true

ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectClock=true
ProtectHostname=true
ProtectProc=invisible

ProcSubset=pid

ReadOnlyPaths={{ base_dir }}/config
ReadWritePaths={{ log_dir }}

CapabilityBoundingSet=
AmbientCapabilities=

RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

LockPersonality=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native

SystemCallFilter=~@clock
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete

RemoveIPC=true
UMask=0027

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
